# Ignore directories and files
_DATA/*
bin/tmp/*
bin/vendor/linux/*
bin/vendor/windows/*

# exceptions to above rule
!_DATA/.gitkeep
!bin/tmp/.gitkeep
!bin/vendor/linux/.gitkeep
!bin/vendor/linux/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# Ignore logs
*.log

# Include files
!.gitignore


