[Desktop Entry]
Name=PWCode
Exec=./bin/pwcode
Icon=/home/bba/bin/PWCode/bin/img/arkimint_fin_32px.png
Terminal=false
Type=Application
StartupWMClass=pwcode
Name[en_US]=PWCode
